<section id="home" class="home page pre-init" data-component="home">
    <a href="#experience" class="home__inner">
        <div class="splash">
            <h1 class="splash__heading">
                <span class="pre">Your home</span>
                <span class="font--300">e</span>
                <span class="font--400">v</span>
                <span class="font--500">o</span>
                <span class="font--600">l</span>
                <span class="font--700">v</span>
                <span class="font--800">e</span>
                <span class="font--900">d</span>
            </h1>
            <div class="begin">
                <div class="begin__inner">
                    <div class="begin__circle-outer">
                        <div class="begin__circle-inner">
                            <i class="icon icon--tap-to-start"></i>
                        </div>
                    </div>
                    <h2 class="begin__label">Touch to begin</h2>
                </div>
            </div>
        </div>
        <img src="/img/common/logo/darwin-logo.svg" alt="DARWIN HOME WELLNESS INTELLIGENCE" class="home__logo">
    </a>
</section>