<section id="video_end" class="video-end page" data-component="video-end">
	<div class="video-end__container">

		<a href="#" class="video-end__column" id="video_end_page">
			<img src="" alt="" class="video-end__icon video-end__icon--page" id="video_end_page_icon" />
			<h2 class="video-end__title" id="video_end_page_title"></h2>
		</a>
		<a href="#" class="video-end__column" id="video_end_more_info">
			<img src="/img/video-end/icons/more-info.svg" alt="More Info" class="video-end__icon video-end__icon--more-info" />
			<h2 class="video-end__title">More Info</h2>
		</a>

	</div>

	<a href="#" class="video-end__replay" id="video_end_replay">
		<img src="/img/video-end/icons/replay.svg" alt="Replay" class="video-end__icon video-end__icon--replay" />
		<h2 class="video-end__replay-title" id="video_end_replay_title"></h2>
	</a>
</section>