.elements-menu {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 17.6vh 22.5vw;
	background-image: url(/img/elements-menu/background/plant.png), url(/img/elements-menu/background/table.png), linear-gradient(to bottom, #454545, #000000);
	background-size: 17% 47.5%, 14% 18%, 100% 100%	;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: bottom left, bottom right, top left;
	box-sizing: border-box;

	opacity: 0;

	backface-visibility: hidden;
	perspective: 1000px;
	transform: translateZ(0);
	will-change: transform;
	transition: opacity 0.5s ease;

	&.active {
		opacity: 1;

		.elements-menu__element {
			opacity: 1;
			transform: translateY(0px);

			&.hide {
				z-index: 0;
			}
		}
	}
}

.elements-menu__nav {
	float: left;
	margin: 0;
	padding: 0;

	filter: drop-shadow(-50px 40px 25px rgba(0,0,0,0.8));
	-webkit-filter: drop-shadow(-50px 40px 25px rgba(0,0,0,0.8));
	-moz-filter: drop-shadow(-50px 40px 25px rgba(0,0,0,0.8));
}

.elements-menu__list {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

.elements-menu__element {
	position: relative;
	z-index: 1;
	width: 13.3vw;
	height: 31.8vh;
	box-sizing: border-box;
	margin-left: 0.6vw;
	margin-bottom: 0.6vw;
	float: left;
	border-radius: 0.41vw;
	opacity: 0;
	backface-visibility: hidden;
	perspective: 1000px;
	will-change: transform;
	transform: translateY(2vh);

	// Resolution: Interactive Screen
	@media only screen and (width: 1280px) and (height: 720px),
			only screen and (-webkit-min-device-pixel-ratio: 3) and (width: 1280px) and (height: 720px),
			only screen and (min--moz-device-pixel-ratio: 3) and (width: 1280px) and (height: 720px),
			only screen and (-o-min-device-pixel-ratio: 3/1) and (width: 1280px) and (height: 720px),
			only screen and (min-device-pixel-ratio: 3) and (width: 1280px) and (height: 720px),
			only screen and (min-resolution: 3dppx) and (width: 1280px) and (height: 720px) {
		transform: translateY(14px);
	}

	// Resolution: 1080p
	@media (width: 1920px) and (height: 1080px) {

		transform: translateY(21px);

	}

	// Resolution: 1200p
	@media (width: 2133px) and (height: 1200px) {
		transform: translateY(23px);
	}

	// Resolution: 4K
	@media (width: 3840px) and (height: 2160px) {
		transform: translateY(43px);
	}

	&.open {
		.elements-menu__title,
		.elements-menu__icon {
			opacity: 0;
			z-index: 201;
			transition: opacity 0.2s ease 0s;
		}
	}

	&:nth-child(1),
	&:nth-child(5) {
		margin-left: 0;
	}

	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8) {
		margin-bottom: 0;
	}
}

.elements-menu__element--purified-air {
	transition: opacity 0.4s ease 0.5s, transform 0.6s ease-out 0.5s;

	.elements-menu__icon {
		width: 2.11vw;
		height: 3.9vh;
		background-image: url(../img/elements-menu/icons/purified-air.svg)
	}
}

.elements-menu__element--purified-water {
	transition: opacity 0.4s ease 0.55s, transform 0.6s ease-out 0.55s;

	.elements-menu__icon {
		width: 1.25vw;
		height: 3.474vh;
		background-image: url(../img/elements-menu/icons/purified-water.svg)
	}
}

.elements-menu__element--circadian-lighting {
	transition: opacity 0.4s ease 0.6s, transform 0.6s ease-out 0.6s;
	.elements-menu__icon {
		width: 1.407vw;
		height: 3.335vh;
		background-image: url(../img/elements-menu/icons/circadian-lighting.svg)
	}
}

.elements-menu__element--blackout-blinds {
	transition: opacity 0.4s ease 0.65s, transform 0.6s ease-out 0.65s;

	.elements-menu__icon {
		width: 1.875vw;
		height: 3.2vh;
		background-image: url(../img/elements-menu/icons/automated-blackout-blinds.svg)
	}
}

.elements-menu__element--ambient-sound {
	transition: opacity 0.4s ease 0.7s, transform 0.6s ease-out 0.7s;

	.elements-menu__icon {
		width: 1.563vw;
		height: 3.056vh;
		background-image: url(../img/elements-menu/icons/biophilic-sounds.svg)
	}
}

.elements-menu__element--thermal-comfort {
	transition: opacity 0.4s ease 0.75s, transform 0.6s ease-out 0.75s;

	.elements-menu__icon {
		width: 1.094vw;
		height: 3.474vh;
		background-image: url(../img/elements-menu/icons/temperature-control.svg)
	}
}

.elements-menu__element--energising-mirror {
	transition: opacity 0.4s ease 0.8s, transform 0.6s ease-out 0.8s;

	.elements-menu__icon {
		width: 1.563vw;
		height: 3.7vh;
		background-image: url(../img/elements-menu/icons/energising-mirror.svg)
	}
}

.elements-menu__element--wellness-mattress {
	transition: opacity 0.4s ease 0.8s, transform 0.6s ease-out 0.8s;

	.elements-menu__icon {
		width: 2.423vw;
		height: 3.335vh;
		background-image: url(../img/elements-menu/icons/performance-mattress.svg)
	}
}

.elements-menu__title {
	position: absolute;
	top: 1.75vh;
	left: 0.9vw;
	z-index: 101;
	font-size: 1.5vh;
	font-weight: 500;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 0.14em;
	margin: 0;
	opacity: 1;
}

.elements-menu__icon {
	position: absolute;
	z-index: 101;
	left: 0.9vw;
	bottom: 1.2vh;
	background-size: 100% auto;
	background-repeat: no-repeat;
	opacity: 1;
}

.elements-menu__title,
.elements-menu__icon {
	transition: opacity 0.2s ease 1.3s;
}






