
<article class="element-page element-page--circadian-lighting" id="circadian_lighting">

	<div class="element-page__content">
		<div class="element-page__content-positioner">
			<h1 class="element-page__title">Circadian Lighting</h1>
			<p class="element-page__lead">
				Exposure to light patterns helps regulate your body’s circadian rhythm - a biological process that works on a 24-hour cycle and determines your natural sleep-wake cycle.
				<br />
				<br />
				The DARWIN Circadian Lighting System constantly regulates and adjusts the lighting in your home. Creating a more natural lighting pattern allows your body to sync naturally to different times of the day. This can positively affect your comfort, mood and alertness throughout the day and into the evening.
			</p>
			<ul class="element-page__list">
				<li class="element-page__list-item">WELLNESS EXPERIENCES TO MATCH YOUR DAILY ROUTINE</li>
				<li class="element-page__list-item">DAWN SIMULATION</li>
				<li class="element-page__list-item">MIMIC NATURAL LIGHT PATTERNS</li>
			</ul>
		</div>
		<div id="lottie_light" class="element-page__product-icon"></div>
		<!--<img src="/img/element-page/products/circadian-lighting.png" alt="" class="element-page__product-image" />-->
	</div>

	<div class="element-page__background-image-container">
		<img class="element-page__background-image" src="/img/element-page/backgrounds/circadian-lighting.jpg" alt="Circadian Lighting" />
        <div class="element-page__background-video" id="circadian_lighting_video" data-src="/media/elements/circadian-lighting.mp4"></div>
	</div>
	<button class="element-page__close" data-close-element="circadian-lighting">Close</button>

</article>
