
<article class="element-page element-page--temperature-control" id="temperature_controlx=">

	<div class="element-page__content">
		<div class="element-page__content-positioner">
			<h1 class="element-page__title">Temperature Control</h1>
			<p class="element-page__lead">
				Temperature is one of the key environmental factors contributing to your ability to fall asleep at night, as well as your ability to to achieve restful sleep. 
				<br />
				<br />
				At night, DARWIN gradually lowers the temperature to help you prepare for sleep and slowly warms the home as you jump start your day.
			</p>
			<ul class="element-page__list">
				<li class="element-page__list-item">Thermal Comfort Control</li>
				<li class="element-page__list-item">Sleep Schedules</li>
			</ul>
		</div>
		<div id="lottie_temperature" class="element-page__product-icon"></div>
		<img src="/img/element-page/products/temperature-control.png" alt="" class="element-page__product-image" />
	</div>

	<div class="element-page__background-image-container">
		<img class="element-page__background-image" src="/img/element-page/backgrounds/temperature-control.jpg" alt="Temperature Control" />
        <div class="element-page__background-video" id="temperature_control_video" data-src="/media/elements/temperature-control.mp4"></div>
    </div>

	<button class="element-page__close" data-close-element="temperature-control">Close</button>

</article>
