
<article class="element-page element-page--biophilic-sounds" id="biophilic_sounds">

	<div class="element-page__content">
		<div class="element-page__content-positioner">
			<h1 class="element-page__title">Biophilic Sounds</h1>
			<p class="element-page__lead">
				Waking up to the buzzing sounds of an alarm is a disruptive and often unpleasant experience. 
				<br />
				<br />
				With DARWIN, waking is gentle and positive as you’re immersed in the sounds of nature.
			</p>
			<ul class="element-page__list">
				<li class="element-page__list-item">WAKE GRADUALLY</li>
				<li class="element-page__list-item">FEEL POSITIVE AND READY FOR THE DAY AHEAD</li>
			</ul>
		</div>
		<div id="lottie_sound" class="element-page__product-icon"></div>
		<img src="/img/element-page/products/biophilic-sounds.png" alt="" class="element-page__product-image" />
	</div>

	<div class="element-page__background-image-container">
		<img class="element-page__background-image" src="/img/element-page/backgrounds/biophilic-sounds.jpg" alt="Biophilic Sounds" />
        <div class="element-page__background-video" id="biophilic_sounds_video" data-src="/media/elements/biophilic-sounds.mp4"></div>
	</div>
	<button class="element-page__close" data-close-element="biophilic-sounds">Close</button>

</article>