
<section id="experience" class="experience page" data-component="experience">
    <div class="experience__inner">
        <canvas class="experience-wave" id="experience_wave" height="810" width="1920"></canvas>
        <nav class="experience-menu pre-init" id="experience_menu">
            <ul class="experience-menu__list">
                
                <li class="experience-menu__item lo">
                    <a class="experience-button" href="#wake" id="menu_item_wake" data-video-id="wake">
                        <div class="experience-button__inner">
                            <i class="icon icon--wake"></i>
                            <h1 class="experience-button__label">Wake</h1>
                        </div>
                    </a>
                </li>
                
                <li class="experience-menu__item md">
                    <a class="experience-button" href="#energise" id="menu_item_energise" data-video-id="energise">
                        <div class="experience-button__inner">
                            <i class="icon icon--energise"></i>
                            <h1 class="experience-button__label">Energise</h1>
                        </div>
                    </a>
                </li>
                
                <li class="experience-menu__item hi">
                    <a class="experience-button" href="#daily_routine" id="menu_item_daily_routine" data-video-id="daily_routine">
                        <div class="experience-button__inner">
                            <i class="icon icon--daily-routine"></i>
                            <h1 class="experience-button__label">Daily routine</h1>
                        </div>
                    </a>
                </li>
                
                <li class="experience-menu__item md">
                    <a class="experience-button" href="#wind_down" id="menu_item_wind_down" data-video-id="wind_down">
                        <div class="experience-button__inner">
                            <i class="icon icon--wind-down"></i>
                            <h1 class="experience-button__label">Wind down</h1>
                        </div>
                    </a>
                </li>
                
                <li class="experience-menu__item lo">
                    <a class="experience-button" href="#sleep" id="menu_item_sleep" data-video-id="sleep">
                        <div class="experience-button__inner">
                            <i class="icon icon--sleep"></i>
                            <h1 class="experience-button__label">Sleep</h1>
                        </div>
                    </a>
                </li>
                
            </ul>
            <div class="experience-slider pre-init" id="experience_slider">
                <span class="experience-slider__bar" id="experience_slider_bar"></span>
            </div>
        </nav>

    </div>
</section>