<!-- Global Navigation -->
<nav class="global-navigation" id="global_navigation">

	<!-- Left Nav (Back & Title) -->
	<ul class="global-navigation__nav global-navigation__nav--left">
		<li class="global-navigation__nav-item">
			<button class="global-navigation__back-button" id="nav_back"></button>
		</li>
		<li class="global-navigation__nav-item">
			<h1 class="global-navigation__page-title" id="nav_title">Experience Darwin</h1>
		</li>
	</ul>

	<!-- Right Nav (Darwin Intelligence, More info & Main menu) -->
	<ul class="global-navigation__nav global-navigation__nav--right">
		<li class="global-navigation__nav-item">
			<button class="global-navigation__nav-button" id="nav_intelligence">
				Darwin Intelligence
			</button>
		</li>
		<li class="global-navigation__nav-item">
			<button class="global-navigation__nav-button global-navigation__nav-button--more-info" id="nav_more_info">
				More Info
			</button>
		</li>
        <li class="global-navigation__nav-item global-navigation__nav-item--video" id="nav_menu_video">
            <button class="global-navigation__menu-icon global-navigation__menu-icon--play">
                <span>Play</span>
            </button>
            <button class="global-navigation__menu-icon global-navigation__menu-icon--pause">
                <span>Pause</span>
            </button>
        </li>
		<li class="global-navigation__nav-item">
			<button class="global-navigation__menu-icon" id="nav_menu"></button>
		</li>
	</ul>

</nav>