
<article class="element-page element-page--performance-mattress" id="performance_mattress">

	<div class="element-page__content">
		<div class="element-page__content-positioner">
			<h1 class="element-page__title">PERFORMANCE MATTRESS</h1>
			<p class="element-page__lead">
				With over 25% of Australian adults experiencing sleep disturbances related to physical pain and general discomfort, your mattress and bedding can profoundly impact your sleep.
				<br />
				<br />
				The DARWIN Performance Mattress contains heat dissipating natural memory foam to provide pressure relief, contouring support and luxurious comfort throughout the night.
			</p>
			<ul class="element-page__list">
				<li class="element-page__list-item">DEEP PRESSURE RELIEF</li>
				<li class="element-page__list-item">SLEEPS COOL</li>
				<li class="element-page__list-item">ALLERGY FRIENDLY</li>
				<li class="element-page__list-item">NEGLIGIBLE VOCS</li>
				<li class="element-page__list-item">BIODEGRADABLE</li>
			</ul>
		</div>
		<div id="lottie_mattress" class="element-page__product-icon"></div>
		<img src="/img/element-page/products/performance-mattress.png" alt="" class="element-page__product-image" />
	</div>

	<div class="element-page__background-image-container">
		<img class="element-page__background-image" src="/img/element-page/backgrounds/performance-mattress.jpg" alt="Performance Mattress" />
        <div class="element-page__background-video" id="performance_mattress_video" data-src="/media/elements/performance-mattress.mp4"></div>
	</div>
	<button class="element-page__close" data-close-element="performance-mattress">Close</button>

</article>
